<a [state]="{profile:user| parse, groupId:message?.groupId}" routerLink="messages/{{user?.usersRef}}" class="flex flex-row">
  <div class="flex flex-col justify-center">
    <img
      [src]="user?.profileImage"
      class="h-12 w-12 rounded-full"
    />
  </div>
  <div class="overflow-hidden p-2 flex-1 flex flex-col justify-center">
    <div class="flex flex-row">
      <span class="font-bold">
        {{user?.firstName}} {{user?.surname}}
      </span>
      <div class="flex flex-row justify-center flex-none w-6 h-6 rounded-full bg-red-900 text-white ml-1">
        <span *ngIf="unreadCounter(message)">
          {{message?.unreadCounter}}
         </span>
      </div>
    </div>
    <span class="truncate">
      {{message?.value}}
    </span>
  </div>
</a>
