<a [state]="{profile:user| parse, groupId:message?.groupId}" routerLink="messages/{{user?.usersRef}}" class="flex flex-row">
  <div class="flex flex-col justify-center">
    <img
      [src]="user?.profileImage"
      class="h-12 w-12 rounded-full"
    />
  </div>
  <div class="overflow-hidden p-2 flex-1 flex flex-col justify-center">
    <span class="font-bold">
      <span class="text-white bg-red-900 p-1 rounded-full">
        {{message?.unreadCounter}}
      </span>
      {{user?.firstName}} {{user?.surname}}
    </span>
    <span class="truncate">
      {{message?.value}}
    </span>
  </div>
</a>
