<div class="bg-red-900 {{pages === 'messages' ? 'justify-between w-20 ' : ''}} flex flex-row md:w-auto">
  <ng-content 
    [select]="navbar-btn"
  />
  <img 
    [src]="profile?.profileImage" 
    class="rounded-full h-12 w-12"
  />
</div>



<div class="bg-blue-900 px-2 flex-1 v-center text-white">    
  <p class="font-sans font-bold">
    {{profile?.firstName}}
    <span *ngIf="typing">
      (typing) 
    </span>
  </p>
</div>

<div *ngIf="pages==='home'"class="bg-green-900 flex flex-col justify-center">
  <button class="text-white">
    <app-magnifying-glass>
    </app-magnifying-glass>
  </button>
</div>


