<div class="{{pages === 'messages' ? 'justify-between' : ''}} w-20 flex flex-row md:w-auto">
  <ng-content [select]="navbar-btn">
    <!-- template -->
  </ng-content>
  <img 
    [src]="profile?.profileImage" 
    class="rounded-full h-12 w-12"
  />
</div>



<div class="{{pages === 'messages' ? 'px-2' : 'm-[-10]' }} border-2 border-black flex-1 v-center text-white">    
  <p class="font-sans font-bold">
    {{profile?.firstName}}
    <span *ngIf="typing">
      (typing) 
    </span>
  </p>
</div>

<div class="flex flex-col justify-center">
  <button>
    <app-magnifying-glass>
    </app-magnifying-glass>
  </button>
</div>





