<div class="w-20 flex flex-row justify-between md:w-auto">
  <ng-content [select]="navbar-btn"/>
  <img 
    [src]="profile?.profileImage" 
    class="rounded-full h-12 w-12"
  />
</div>



<div class="flex-1 v-center text-white px-2">    
  <p class="font-sans font-bold">
    {{profile?.firstName}}
    <span *ngIf="typing">
      (typing) 
    </span>
  </p>
</div>




