<!--
<a routerLink="/messages/{{detail?.usersRef}}" [state]="{profile: detail | parse,groupId:groupId}"  class="flex-1 p-4 flex flex-row">
  <div class="flex flex-col justify-center">
    <img 
      class="rounded-full h-12 w-12" 
      [src]="detail?.profileImage"
    />
  </div>

  <div class="flex-1 px-4 h-14 flex flex-col justify-between">
    <span class="font-black">
      {{detail?.firstName}} {{detail?.surname}}
    </span>
    <ng-content [select]="value">
    	
    </ng-content>
  </div>
</a>
-->

<div class="flex flex-col justify-center">
  <img
    class="h-12 w-12 rounded-full"
    [src]="detail?.profileImage"
  />
</div>

<div class="overflow-hidden bg-red-900 flex-1 p-2 flex flex-col justify-center">
  <span class="font-black">
    {{detail?.firstName}} {{detail?.surname}}
  </span>

  <ng-content
    [select]="value"
  />
</div>