<div class="fullscreen z-10 flex flex-col">
  <div class="p-2 border-2 shadow-md border-black">
    <input
      #query
      type="search"
      class="pl-[45px] focus:outline-none rounded p-2 w-full border-2 border-black"
      (keyup)="queryString.next($event.target)"
      placeholder="Who are you looking for?"
    />
    
    <div class="absolute top-[16px] left-[17px]">
      <button (click)="toHome()" class="p-1">
        <app-arrow-left>
        </app-arrow-left>
      </button>
    </div>
  </div>
  
  <div class="flex-1 border-2 border-green-900" *ngIf="result && result.length > 1">
    <app-card
      *ngFor="let people of result"
      [message]="people.message"
      [user]="people | get"
      [id]="_id"
    />
    
    <!--<div *ngFor="let people of result" class="border-2 border-black">
      
    </div>-->
    
    <!--
      <a [state]="{profile:user| parse, groupId:message?.groupId}" routerLink="messages/{{user?.usersRef}}" class="flex flex-row">
      <div class="flex flex-col justify-center">
        <img
          [src]="user?.profileImage"
          class="h-12 w-12 rounded-full"
        />
      </div>
      <div class="overflow-hidden p-2 flex-1 flex flex-col justify-center">
        <div class="flex flex-row">
          <span class="font-bold">
            {{user?.firstName}} {{user?.surname}}
          </span>
          <div *ngIf="unreadCounter()" class="flex flex-row justify-center flex-none w-6 h-6 rounded-full bg-red-900 text-white ml-1">
            <span>
              {{message?.unreadCounter}}
           </span>
          </div>
        </div>
        <span class="truncate">
        {{message?.value}}
        </span>
      </div>
    </a>
    -->
  </div>
</div>

<div class="fullscreen border-2 border-yellow-900 v-center" *ngIf="!(state | async)?.running && result && result.length < 1">
  <div class="h-center">
    No result
  </div>
</div>

<div *ngIf="(state | async)?.running" class="fullscreen border-2 border-red-900 v-center">
  <div class="h-center">
     Loading
  </div>
</div>
  
  
  
