<div class="fullscreen z-10 flex flex-col">
  <div class="p-2 border-2 shadow-md border-black">
    <input
      #query
      type="search"
      class="placeholder-[20px] focus:outline-none rounded p-2 w-full border-2 border-black"
      (keyup)="queryString.next($event.target)"
      placeholder="Who are you looking for?"
    />
    
    <div class="absolute top-[20px] left-[20px]">
      <app-arrow-left>
      </app-arrow-left>
    </div>
  </div>
  
  <div class="flex-1 border-2 border-green-900" *ngIf="result && result.length > 1">
   
  </div>
</div>

<div class="fullscreen border-2 border-yellow-900 v-center" *ngIf="!(state | async)?.running && result && result.length < 1">
  <div class="h-center">
    No result
  </div>
</div>

<div *ngIf="(state | async)?.running" class="fullscreen border-2 border-red-900 v-center">
  <div class="h-center">
     Loading
  </div>
</div>
  
  
  
