<div class="fullscreen bg-slate-100 v-center">
  <div *ngIf="loginState.value.error" class="flex flex-row justify-center">
    <div class="rounded mb-2 bg-red-900 p-2 text-white flex flex-row justify-center text-rounded w-3/5">
      User not found
    </div>
  </div>
  <div class="flex flex-row justify-center">
    <form (submit)="login(loginInfo)"class="bg-white p-3 rounded w-3/5">
      <div class="flex flex-row p-2 justify-center">
        <h1 class="font-semibold">Sign In</h1>
      </div>
      <div class="mt-3 p-1">
        <div class="p-1">
          <input 
            type="text" 
            [(ngModel)]="loginInfo.username"
            placeholder="username"
            class="w-full p-4 rounded bg-slate-300 focus:outline-none"
          />
        </div>
        <div class="p-1">
          <input 
            type="password"
            [(ngModel)]="loginInfo.password"
            placeholder="password"
            class="w-full p-4 rounded bg-slate-300 focus:outline-none"
          />
        </div>
      </div>
      <div class="mt-3 p-1">
        <button [class.bg-gray-500]="loginState.value.running" [disabled]="loginState.value.running"type="submit" class="bg-blue-900 text-white w-full p-4 rounded">
          Log In
        </button>
      </div>
    </form>
  </div>
</div>

<!--
<div class="fullscreen v-center bg-slate-100">
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  Sign in to your account
              </h1>
              <form class="space-y-4 md:space-y-6" action="#">
                  <div>
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                      <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                      <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                  <div class="flex items-center justify-between">
                      <div class="flex items-start">
                          <div class="flex items-center h-5">
                            <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
                          </div>
                      </div>
                      <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
                  </div>
                  <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign in</button>
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                      Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
                  </p>
              </form>
          </div>
      </div>
  </div>
</div>-->

<!--<div class="fullscreen v-center">
<div class="flex flex-row justify-center">
<form>
  <input type="text" placeholder="username"/>
  <input type="pgassword" placeholder="password"/>
  <button type="submit">login</button>
</form>
</div>->

</div>
<!--<div class="fullscreen v-center">
  <div class="m-auto">
    _<button/ class="p-4 bg-red-900 text-white rounded-full" (click)="login(loginMarin)">
      x
    </button>

    <button class="p-4 bg-black text-white rounded-full" (click)="login(loginGojo)">
      x
    </button>
  </div>
  
</div>

<div class="fullscreen bg-white v-center" *ngIf="(loginState | async)?.running">
  <div class="red-rounded-pulse">
  </div>
</div>-->
