<div class="fullscreen v-center">

<form>
  <input type="text" placeholder="username"/>
  <input type="pgassword" placeholder="password"/>
  <button type="submit">login</button>
</form>

</div>
<!--<div class="fullscreen v-center">
  <div class="m-auto">
    _<button/ class="p-4 bg-red-900 text-white rounded-full" (click)="login(loginMarin)">
      x
    </button>

    <button class="p-4 bg-black text-white rounded-full" (click)="login(loginGojo)">
      x
    </button>
  </div>
  
</div>

<div class="fullscreen bg-white v-center" *ngIf="(loginState | async)?.running">
  <div class="red-rounded-pulse">
  </div>
</div>-->
