<div class="fullscreen bg-slate-100 v-center items-center">
  <div *ngIf="signUpStage === 'account'" class="bg-white p-5 rounded shadow flex flex-col gap-6">
    <div class="flex flex-col gap-2 items-center">
      <span class="text-3xl font-bold">Sign Up</span>
      <span class="font-medium">Already a member? Log in</span>
    </div>
    <form class="flex flex-col gap-5">
      <input 
        type="text"
        [(ngModel)]="account.username"
        placeholder="create username"
        class="border-2 border-black p-2 rounded"
      />
      <input 
        type="password"
        [(ngModel)]="account.password"
        placeholder="create password"
        class="border-2 border-black rounded p-2"
      />
      <input 
        type="password"
        [(ngModel)]="account.matchPwd"
        placeholder="confirm password"
        class="border-2 border-black rounded p-2"
      />
      <button (submit)="onSubmit()" type="submit" class="p-2 border-2 border-black rounded-md bg-black text-white">
        Sign Up
      </button>
    </form>
    
    <div class="flex flex-row gap-2">
      <hr class="border-1 border-black flex-1"/>
      <span class="leading-[0px]">Or</span>
      <hr class="border-1 border-black flex-1"/>
    </div>
    
    <div class="flex flex-row justify-center gap-3 ">
      <button class="border-2 p-3 aspect-square border-black rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" width="19.0625" viewBox="0 0 488 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/>
          <!-- google button -->
        </svg>
      </button>
      <button class="border-2 p-3 aspect-square border-black rounded-full">
        Y
      </button>
      <button class="border-2 p-3 aspect-square border-black rounded-full">
        Z
      </button>
    </div>
  </div>

  <div *ngIf="signUpStage === 'profile'">
    Complete profile
  </div>
</div>
