<div class="fullscreen bg-slate-100 v-center items-center">
  <div class="bg-white p-5 rounded shadow flex flex-col gap-3">
    <div class="flex flex-col gap-2 items-center bg-red-900">
      <span class="text-3xl font-bold">Sign Up</span>
      <span class="font-medium">Already a member? Log in</span>
    </div>
    <form class="border-2 border-black flex flex-col gap-2">
      <input 
        type="text"
        placeholder="username"
      />
      <input 
        type="password"
        placeholder="password"
      />
      <button type="submit">
        Sign Up
      </button>
    </form>
  </div>
</div>