<div class="fullscreen bg-slate-100 v-center items-center">
  <div *ngIf="signUpStage === 'account'" class="bg-white p-5 rounded shadow flex flex-col gap-6">
    <div class="flex flex-col gap-2 items-center">
      <span class="text-3xl font-bold">Sign Up</span>
      <span class="font-medium">Already a member? Log in</span>
    </div>
    <form class="flex flex-col gap-5">
      <input 
        type="text"
        [(ngModel)]="account.username"
        placeholder="create username"
        class="border-2 border-black p-2 rounded"
      />
      <input 
        type="password"
        [(ngModel)]="account.password"
        placeholder="create password"
        class="border-2 border-black rounded p-2"
      />
      <input 
        type="password"
        [(ngModel)]="account.matchPwd"
        placeholder="confirm password"
        class="border-2 border-black rounded p-2"
      />
      <button (submit)="onSubmit()" type="submit" class="p-2 border-2 border-black rounded-md bg-black text-white">
        Sign Up
      </button>
    </form>
    
    <div class="flex flex-row gap-2">
      <hr class="border-1 border-black flex-1"/>
      <span class="leading-[0px]">Or</span>
      <hr class="border-1 border-black flex-1"/>
    </div>
    
    <div class="flex flex-row justify-center gap-3 ">
      <button class="border-2 w-9 aspect-square border-black rounded-full">
        X
      </button>
      <button class="border-2 w-9 aspect-square border-black rounded-full">
        Y
      </button>
      <button class="border-2 w-9 aspect-square border-black rounded-full">
        Z
      </button>
    </div>
  </div>

  <div *ngIf="signUpStage === 'profile'">
    Complete profile
  </div>
</div>
