<app-navbar [profile]="profile" class="navbar">
  <button (click)="goBack()" class="text-white md-hidden" navbar-btn>
    <app-arrow-left/>
  </button>
</app-navbar>

<div class="fullscreen flex flex-col">
  <app-fetch-error class="flex-1 v-center" *ngIf="fetchErrorMessage as error" (retry)="fetchRetry()">
    <p message>{{error}}</p>
  </app-fetch-error>

  <div class="flex-1 v-center text-center" *ngIf="(fetchState | async)?.running">
    Loading....
  </div>

  <div  *ngIf="messages as messages" class="mt-[80px] p-4 border-2 border-black">
    <div *ngFor="let message of messages; last as last" [@isLast]="last ? ''  : 'last'">
			<div *ngIf="message.sender !== params['_id']" class="flex flex-row">
				<div class="bg-yellow-600 p-4 rounded-md text-white">
          {{message.value}}
				</div>
			</div>
			
			<div *ngIf="message.sender === params['_id']" class="flex flex-row justify-end">
				<div class="bg-red-600 p-4 rounded-md text-white">
          {{message.value}}
				</div>
			</div>
    </div>
  </div>

  <!-- <div *ngIf="messages as fetchResult" class="mt-[80px] p-4 border-2 border-black v-center text-center">
    <ul>
      <ng-container *ngFor="let message of fetchResult; last as isLast">
        <li *ngIf="!isLast" class="mb-4 h-64 flex flex-row">
          <span *ngIf="message.sender !== params['usersRef']" class="p-4 bg-red-900 rounded">
             {{message.value}}
          </span>

          <span *ngIf="message.sender === params['usersRef']" class="p-4 bg-red-900 rounded self-end">
            {{message.value}}
          </span>
        </li>
        <li *ngIf="isLast" class="flex h-64 flex-row">
          <span *ngIf="message.sender !== params['usersRef']" class="p-4 bg-red-900 rounded">
            {{message.value}}
          </span>

          <span *ngIf="message.sender === params['usersRef']" class="p-4 bg-red-900 rounded self-end">
           {{message.value}}
          </span>
        </li>
      </ng-container>
    </ul>
  </div> -->
</div>