<app-navbar [profile]="profile" class="navbar">
  <button (click)="goBack()" class="text-white md-hidden" navbar-btn>
    <app-arrow-left/>
  </button>
</app-navbar>

<div class="fullscreen flex flex-col">
  <app-fetch-error class="flex-1 v-center" *ngIf="fetchErrorMessage as error" (retry)="fetchRetry()">
    <p message>{{error}}</p>
  </app-fetch-error>

  <div class="flex-1 v-center text-center" *ngIf="(fetchState | async)?.running">
    Loading....
  </div>

  <div  *ngIf="messages as messages" class="mt-[80px] mb-[72px] p-4 border-2 border-black">
    <div *ngFor="let message of messages; last as last" [@isLast]="last ? ''  : 'last'">
			<div *ngIf="message.sender !== params['_id']">
				<div class="bg-yellow-600 p-4 rounded-md text-white w-1/2">
          {{message.value}}
          <span *ngIf="message.send">
            <app-check
              class="text-blue-900"
            />
          </span>
          <span *ngIf="!message.send && !failedSendList.includes(message._id)">
            <app-check
              class="text-gray-900"
            />
          </span>
        </div>
        <div class="w-1/2 text-right" *ngIf="failedSendList.includes(message._id)">
          <span class="text-red-900 text-xs text-underline hover:cursor-pointer">
            failed to send, click to retry
          </span>
        </div>
			</div>
			
			<div *ngIf="message.sender === params['_id']" class="flex flex-row justify-end">
				<div class="bg-red-600 p-4 rounded-md text-white w-1/2">
          {{message.value}}
				</div>
			</div>
    </div>
  </div>
</div>

<form class="fixed bottom-0 bg-red-900 p-4 w-full flex flex-row" (submit)="onSubmit(message.value,$event)">
  <input type="text" placeholder="new message" class="flex-1 p-2 rounded-md" #message/>
  <div class="w-14 flex flex-row justify-end">
    <button type="submit" class="bg-black rounded-full p-2 text-white">
      <app-power/>
    </button>
  </div>
</form>

