<app-navbar [typing]="typing" [profile]="state.profile" class="navbar">
  <button (click)="goBack()" class="text-white md-hidden" navbar-btn>
    <app-arrow-left/>
  </button>
</app-navbar>

<div class="fullscreen bg-slate-200 flex flex-col">
  <app-fetch-error class="flex-1 v-center" *ngIf="fetchErrorMessage as message" (retry)="fetchRetry()">
    <p message>{{message}}</p>
  </app-fetch-error>

  <div class="flex-1 v-center text-center" *ngIf="!fetchErrorMessage && !messages">
    Loading....
  </div>

  <div  *ngIf="!uploadPreview && messages as messages" class="mt-[80px] mb-[72px] p-4 border-2 border-black">
    <div *ngFor="let message of messages; last as last" [@isLast]="last ? ''  : 'last'" [id]="last ? 'target' : ''">
			<div *ngIf="message.sender !== _id && message.contentType === 'text'" class="min-w-[50%] xs:max-w-[85%] bg-green-500 p-4 rounded-md flex flex-row">
        <div class="flex-1">
          <span>
            {{message.value}}
          </span>
        </div>

        <!-- belum terkirim -->
        <div class="flex flex-col justify-end" *ngIf="!message.send && !failedSendList.includes(message.sendAt)">
          <app-check/>
        </div>

        <!-- terkirim, belum dibaca -->

        <div class="flex flex-col justify-end" *ngIf="message.send && !message.read">
          <app-check class="text-white"/>
        </div>

        <div class="flex flex-col justify-end" *ngIf="message.read">
          <div class="flex flex-row">
            <app-check class="text-white"/>
            <app-check class="text-white"/>
          </div>
        </div>

      </div>


      <div *ngIf="message.sender !== _id && message.contentType === 'image'" class="xs:w-1/2 md:w-fit p-2 bg-yellow-600 rounded-md relative">
        <img 
          [src]="message.value" 
          class="rounded-md" 
        />

        <div class="absolute bottom-0 right-0" *ngIf="!message.send && !failedSendList.includes(message.sendAt)">
          <app-check class="text-gray-900"/>
        </div>

        <div class="absolute bottom-0 right-0" *ngIf="failedSendList.includes(message.sendAt)">
          <app-exclamation-circle class="text-red-900"/>
        </div>

        <!-- success send (has not been read yet) -->
        <div class="absolute bottom-0 right-0" *ngIf="message.send && !message.read">
          <app-check class="text-blue-900"/>
        </div>


        <!-- success send (has been read) -->
        <div class="absolute bottom-0 right-0" *ngIf="message.read">
          <div class="flex flex-row">
            <app-check class="text-blue-900"/>
            <app-check class="text-blue-900"/>
          </div>
        </div>
      </div>
      
			
			<div *ngIf="message.sender === _id && message.contentType === 'text'" class="flex flex-row justify-end">
				<div class="bg-white min-w-[50%] xs:max-w-[85%] p-4 rounded-md">
          {{message.value}}
				</div>
      </div>

      <div *ngIf="message.sender === _id && message.contentType === 'image'" class="flex flex-row bg-red-900 p-4 justify-end">
        <img 
          [src]="message.value" 
          class="rounded-md" 
        />
      </div>

      <div *ngIf="failedSendList.includes(message.sendAt) && (message.sender !== _id && message.contentType === 'text')" class="flex flex-col w-1/2" (click)="resend(message.sendAt)">
        <p class="self-end text-red-900 underline hover:cursor-pointer">
          failed to send, click to retry
        </p>
      </div>

      <div *ngIf="failedSendList.includes(message.sendAt) && (message.sender !== _id && message.contentType === 'image')" class="flex flex-col w-1/2" (click)="resendImage(message.sendAt)">
        <p class="self-end text-red-900 underline hover:cursor-pointer">
          failed to send, click to retry
        </p>
      </div>
    </div>
  </div>
</div>

<form class="fixed bottom-0 bg-blue-900 p-4 w-full flex flex-row" (submit)="onSubmit(message.value); false">
  <textarea 
    placeholder="new message" 
    class="flex-1 p-2 rounded-md md:hidden"
    [(ngModel)]="messageText"
    (keydown)="onKeyDown()"
    (keyup)="onKeyUp()"
    rows="1"
    cols="4"
    #message
  >
  </textarea>
  <div class="hidden w-14 flex flex-row justify-end relative overflow-hidden">
    <button class="bg-black rounded-full p-2 text-white">
      <app-camera/>
    </button> 

    <input
      type="file"
      (change)="onChange($event)"
      class="absolute h-full left-3 opacity-0 hover:cursor-pointer"
    />
  </div>
  <div *ngIf="isValid(messageText)" class="w-14 flex flex-row justify-end">
    <button type="submit" class="bg-black rounded-full p-2 text-white">
      <app-paper-airplane/>
    </button> 
  </div>
</form>



<div *ngIf="uploadPreview" class="fullscreen bg-white z-20 flex flex-col justify-center">
  <div class="absolute h-4/5 xs:w-5/6 sm:w-fit p-2 self-center flex flex-col justify-center">
    <div class="max-h-full w-fit xs:self-center overflow-auto p-2 flex flex-col relative">
      <img 
        [src]="uploadPreviewImage"
        class="rounded-md"
      />
    </div>
  </div>
  <form class="border-2 blue-900 fixed bottom-0 left-0 right-0  bg-blue-900 p-4 flex flex-row" (submit)="submitImage(description.value); false">
    <input type="text" class="flex-1 p-4 rounded-md" placeholder="description text" #description/>
    <div class="w-16 flex flex-col justify-center">
      <button class="self-center bg-black rounded-full text-white p-2">
        <app-paper-airplane/>
      </button>
    </div>
  </form>
</div>
