<app-navbar [profile]="(currentUser | async)?.profile" class="navbar">
  <button class="text-white md-hidden" navbar-btn>
    <app-bar/>
  </button>
</app-navbar>

<div class="fullscreen flex flex-col">

  <app-fetch-error class="flex-1 v-center" *ngIf="fetchErrorMessage as error" (retry)="fetchRetry()">
    <p message>{{error}}</p>
  </app-fetch-error>

  <div class="flex-1 v-center text-center" *ngIf="(fetchState | async)?.running">
    Loading....
  </div>

  
  
  <div class="mt-[80px] p-4 border-2 border-black" *ngIf="recentlyMessages as recently">
    <div class="flex flex-row" *ngFor="let message of recently">  
      <div #img [attr.data-user]="message | compare:_id" class="flex flex-col justify-center">
        <img 
          class=" h-12 w-12 rounded-full"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAdS5a8K2RcO1nZGi_Qpi0D58YFSL_PIpDiQ&usqp=CAU"
        />
      </div>
      <div class="overflow-hidden p-2 flex flex-col justify-center flex-1">
        <span>
          Kana Hasimoto
        </span>      
        <span class="truncate">
          Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit. 
          Proin tincidunt elementum magna, 
          sit amet volutpat ligula 
          consectetur ac.      
        </span> 
      </div>
    </div>
  </div>
  



<!--
  <app-recently-messages 
    *ngIf="recentlyMessages as content"
    class="mt-[80px] p-4 border-2 border-black"
    [_id]="(currentUser | async)?._id"
    [content]="content"  
  />
-->


</div>
