<app-navbar [profile]="(currentUser | async)?.profile" class="navbar">
  <button class="text-white md-hidden" navbar-btn>
    <app-bar/>
  </button>
</app-navbar>

<div class="fullscreen flex flex-col">

  <app-fetch-error class="flex-1 v-center" *ngIf="fetchErrorMessage as error" (retry)="fetchRetry()">
    <p message>{{error}}</p>
  </app-fetch-error>

  <div class="flex-1 v-center text-center" *ngIf="(fetchState | async)?.running">
    Loading....
  </div>

  
  <div class="mt-[80px] p-4 border-2 border-black" *ngIf="recentlyMessages as recently">
    <app-card 
      *ngFor="let message of recently" 
      [user]="message | compare : _id"
      [message]="message"
      [_id]="_id"
    />
  </div>
  
  <!--
  <div class="mt-[80px] p-4 border-2 border-black" *ngIf="recentlyMessages as recently">
    <div  class="flex flex-row" *ngFor="let message of recently">  
      <a [state]="{profile:user | parse, groupId:message.groupId}" class="flex flex-row overflow-hidden" *ngFor="let user of [message | compare:_id]" routerLink="messages/{{user.usersRef}}">
	<div class="flex flex-col justify-center">
          <img 
            class=" h-12 w-12 rounded-full"
            [src]="user.profileImage"
          />
        </div>
        <div class="overflow-hidden p-2 flex flex-col justify-center flex-1">
          <span>
	    {{user.firstName}} {{user.surname}}
          </span>      
          <span class="truncate">
            {{message.value}}
         </span> 
        </div>
      </a>
    </div>
  </div>
  -->
  



<!--
  <app-recently-messages 
    *ngIf="recentlyMessages as content"
    class="mt-[80px] p-4 border-2 border-black"
    [_id]="(currentUser | async)?._id"
    [content]="content"  
  />
-->


</div>
